{% extends 'base.html' %}

{% block title%}about{% endblock%}

{% block content%}
{%  load static %}

<h1 class="text-center">ABOUT US</h1>
<hr>

<div class="abtusimg2">
    <img src="{% static '/images/pexels-david-mcbee-396304.jpg' %}" alt="">
</div>

<div class="abtus">
    <p>The College is affiliated to APJ Abdul Kalam Technological University and the courses 
        are approved by the All India Council for Technical Education. The College is managed 
        by Beaverly Foundation, India. This technical institution is developed by blending the 
        concepts of Lord Buddha: Kindness, Humanism and Equality; with the modern trends in the 
        field of technology. It is an arcadia for students, a place where young men&women are 
        educated, celebrated and developed into global professionals for twenty first century. 
        Our intention is to help the students discover their purpose, embrace their dreams and 
        possibilities, and move forward, with distinction, into the ever-changing world. We have 
        created a campus that is safe, wholesome and supportive – an oasis for knowledge. 
        The academic program fits the needs of students with both academic promise and prowess. 
        Our dynamic faculty and dedicated staff work together to create a wonderful experience 
        for students who choose Beaverly College of Engineering as their academic home. 
        The ability to communicate, an essential component to negotiate with the contemporary 
        workplace, is an aspect of the curriculum that is being strengthened at Sree Buddha 
        College of Engineering. A team of well experienced and committed faculty is always at 
        the reach of students for any help to achieve excellence in academic and co-curricular 
        activities
    </p>
</div>

{% endblock%}