{% extends 'base.html' %}

{% block title%}about{% endblock%}

{% block content%}
{%  load static %}

<h1 class="text-center">CONTACT US</h1>
<hr>

<div class="row">
    <div class="shadow-lg p-3 m-3 bg-body rounded col phonerd">
        <img src="{% static '/icons/icons8-phone-100.png' %}" alt="">
        <h4 class="text-center">Office :+91 XXX 1234567<br>
            Principal: +91 XXX 7654321</h4>
    </div>
    <div class="shadow-lg p-3 m-3 bg-body rounded col emailrd">
        <img src="{% static '/icons/icons8-email-96.png' %}" alt="">
        <h4 class="text-center">principal@redlands.ac.in</h4>
    </div>
    <div class="shadow-lg p-3 bg-body m-3 rounded col addressrd">
        <img src="{% static '/icons/icons8-address-100.png' %}" alt="">
        <h4 class="text-center">Redlands College <br>
            Mavelikkara – 689 001, Kerala, India</h4>
    </div>
</div>

<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26491.767722044206!2d76.52486822253125!3d9.242076994086425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b061ee020787e0d%3A0xc496b728b31ffb0f!2sMavelikara%2C%20Kerala!5e0!3m2!1sen!2sin!4v1665898267719!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

{% endblock%}