{% extends 'base.html' %}

{% block title%}PLACEMENT{% endblock%}

{% block content%}
{%  load static %}

<h1 class="text-center">PLACEMENTS</h1>
<hr>

<div class="plmntsec">
  <p>The Training & Placement Cell interacts frequently with students and helps them realize 
    their skill areas. The TPC implements custom made training programmes in soft skill and 
    personality development. Special coaching in communicative English is given to students 
    and the cell also arranges mock interviews and group discussions.
    Beaverly boasts of excellent placements ever since its inception. The Beaverly Corporate 
    Relations and Placements team employ all modern methodologies to deliver talent that 
    satisfies the requirements of the most demanding national and international recruiters.<br><br>
    Beaverly alumni are working in 200 plus marquee companies spread across the globe. 
    Our placement policy aims at placing students with quality recruiters where they will be 
    able to build a successful career. We do not entertain sub-standard recruiters 
    for inflating the placement statistics. Our placement statistics are ethically clean. 
    The year 2022 will be a memorable year for Beaverly as far as campus placements are 
    concerned. We saw our students getting placed with higher salary packages in globally 
    reputed companies. We saw global giants like IBM, PWC, EY, TCS, Infosys etc recruiting 
    our students in 2022. This year also witnessed average salary moving up by 34%. Total 
    offers are at 555 and our students who are graduating in 2022 got opportunity to attend 
    recruitment drives from 93 companies till date. 
  </p>
</div>

<div class="plmntobj">
  <h3>OBJECTIVE :</h3>
  <li>To provide job opportunities by bringing the companies for campus recruitment to all the eligible students of final year.</li>
  <li>To enhance current technical and practical knowledge of students</li>
  <li>To make the students ‘PLUG & PLAY’ by imparting soft skills and employability skills.</li>
  <li>To have strong Industry-Institute Interaction.</li>
  
</div>

<div class="plmntimg2">
  <h3>OUR PLACEMENT PARTNERS :</h3>
  <img src="{% static '/images/Placement-Page-Inner-1024x425-1.png' %}">
</div>


{% endblock%}